<div class="container">
  <div class="mt-4">
    <h3>Đăng kí khoá học </h3>
    <form method="post" action="store" class="m-5">
      <div class="mb-3">
        <label for="slug" class="form-label">Tên khoá học</label>
        <input type="text" class="form-control" id="slug" name="slug" />
      </div>
      <div class="mb-3">
        <label for="decription" class="form-label">Chi tiết khoá học</label>
        <input
          type="text"
          class="form-control"
          id="decription"
          name="decription"
        />
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Tác Giả</label>
        <input type="text" class="form-control" id="author" name="author" />
      </div>
      <div class="mb-3">
        <label for="videoId" class="form-label">VideoId</label>
        <input type="text" class="form-control" id="videoId" name="videoId" />
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Tiêu đề khoá học</label>
        <input type="text" class="form-control" id="title" name="title" />
      </div>
       <div class="mb-3">
        <label for="level" class="form-label">Mức độ</label>
        <input type="text" class="form-control" id="level" name="level" />
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Hình ảnh</label>
        <input type="file" class="form-control" id="image" name="image" />
      </div>

      <button type="submit" class="btn btn-primary m-5">Thêm khoá học
      </button>
    </form>
  </div>
</div>