<div class="mt-4">
    <form method="POST" action=""> 
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Tìm kiếm</label>
        <input type="text" name = "q"class="form-control" >
      </div>
      
      <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>